<!-- footer-section start -->
<footer class="footer-section pt-120 pb-120">
    <div class="container">
        <div class="row mb-30-none">
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="footer-widget widget-menu">
                    <h3 class="widget-title">quick links</h3>
                    <ul>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Popular Airlines</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>popular flight routes</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Destination</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Booking</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Popular Hotel</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="footer-widget widget-menu">
                    <h3 class="widget-title">company</h3>
                    <ul>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>About</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Booking</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Air Line Fee</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Careers</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Partners</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="footer-widget widget-menu">
                    <h3 class="widget-title">legal</h3>
                    <ul>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>privacy & Police</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Terms & Conditions</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Post Ticketing Fees</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Price match Proise</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i>Service Condition</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="footer-widget widget-menu">
                    <h3 class="widget-title">about us</h3>
                    <p>Sociosqu, lectus velit risus ipsum proin, felis pellentesque nullam ipsum tincidunt ad. Pellentesque</p>
                    <ul class="footer-social">
                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="privacy-area wow fadeIn" data-wow-duration="0.5" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright  © DBMS 2021  . All rights reserved </p>
            </div>
        </div>
    </div>
</div>   
<!-- footer-section end -->





<!-- jquery -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<!-- migarate-jquery -->
<script src="/assets/js/jquery-migrate-3.0.0.js"></script>
<!-- bootstrap js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- magnific-popup js -->
<script src="/assets/js/jquery.magnific-popup.js"></script>
<!-- isotope -->
<script src="/assets/js/isotope.pkgd.min.js"></script>
<!-- nice-select js-->
<script src="/assets/js/jquery.nice-select.js"></script>
<!-- swipper js -->
<script src="/assets/js/swiper.min.js"></script>
<!-- waypoints js link -->
<script src="/assets/js/jquery.waypoints.min.js"></script>
<!-- counterup js -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- paroller js -->
<script src="/assets/js/jquery.paroller.min.js"></script>
<!-- datepicker js -->
<script src="/assets/js/datepicker.min.js"></script>
<!-- datepicker js -->
<script src="/assets/js/datepicker.en.js"></script>

<script src="/assets/js/booking.js"></script>
<script src="/assets/js/createBooking.js"></script>

<!-- main -->
<script src="/assets/js/main.js"></script>
<!--register js-->
<script src="/assets/js/register.js"></script>
<!--auto pop js-->
<script src="/assets/js/autopop.js"></script>

<script src="/assets/js/seats.js"></script>




</body>
</html>