<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B Airways- Airline Reservation System</title>
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <!-- flaticon css -->
    <link rel="stylesheet" href="/assets/font/flaticon.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- nice-select css -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- swipper css link -->
    <link rel="stylesheet" href="/assets/css/swiper.min.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/images/fav.png" type="image/x-icon">
    <!-- animate.css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- datepicker.css -->
    <link rel="stylesheet" href="/assets/css/datepicker.min.css">
    <!-- main style css link -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive css link -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- seat scss link -->
    <link rel="stylesheet" href="/assets/css/seats.css">

</head>
<body>


    <!--Start Preloader-->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell align-middle">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>
    <!--End Preloader-->

    
        <header class="header-section">
            <div class="header-top d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 pl-lg-0">
                            <div class="header-socials">
                                <ul class="social-links">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 d-flex flex-wrap justify-content-end pr-lg-0">
                            <div class="header-top-btn">
                                <% if (!user || user.type=='guest') {%>
                                    <a href="#login" class=" custom-btn-login">Log in</a>
                                    <a href="#signup" class="custom-btn-register">Create an account</a>
                                <%} else{%>
                                    <a href="/customer/logout" class=" custom-btn">Log Out</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle d-none d-xl-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 pl-lg-0">
                            <div class="header-wrapper">
                                <div class="header-info">
                                    <div class="info-item">
                                        <div class="info-thumb">
                                            <i class="flaticon-clock"></i>
                                        </div>
                                        <div class="info-content">
                                            <h6 class="title">working hours</h6>
                                            <span>24/7 hours</span>
                                        </div>
                                    </div>
                                    <div class="info-item">
                                        <div class="info-thumb">
                                            <i class="flaticon-pin"></i>
                                        </div>
                                        <div class="info-content">
                                            <h6 class="title">location</h6>
                                            <span>medino, NY 10012, USA</span>
                                        </div>
                                    </div>
                                    <div class="info-item">
                                        <div class="info-thumb">
                                            <i class="flaticon-mail"></i>
                                        </div>
                                        <div class="info-content">
                                            <h6 class="title">email address</h6>
                                            <span>exmple@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 pr-lg-0">
                            <div class="header-action d-flex flex-wrap align-items-center justify-content-end">
                                <a href="register.html" class="cmn-btn-active">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="row header-border align-items-center justify-content-between">
                        <a class="site-logo site-title" href="index.html"><img src="/assets/images/logo.png" alt="site-logo"></a>
                        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fas fa-bars"></span>
                        </button>
                        <div class="header-bar d-lg-none">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="header-btn-group d-lg-none">
                            <% if (!user || user.type=='guest') {%>
                            <div class="header-top-btn">
                                <a href="#login" class=" custom-btn-login">Log in</a>
                                <a href="#signup" class="custom-btn-register">Create an account</a>
                            </div>
                            <%} else{%>
                                <a href="/customer/logout" class=" custom-btn">Log Out</a>
                            <% } %>
                        </div>
                        <nav class="navbar navbar-expand-lg p-0">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav main-menu ml-auto">
                                    <li class="menu_has_children"><a href="#0">Home<i class="fas fa-caret-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li class="menu_has_children"><a href="#0">Flight<i class="fas fa-caret-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="flight.html">Flight</a></li>
                                            <li><a href="flight-facilities.html">Flight Facilities</a></li>
                                            <li><a href="search-1.html">Search Flight One</a></li>
                                            <li><a href="search-2.html">Search Flight Two</a></li>
                                            <li><a href="search-3.html">Search Flight Three</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu_has_children"><a href="#0">Page<i class="fas fa-caret-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="privacy.html">Privacy Page</a></li>
                                            <li><a href="gallery.html">Gallery Page</a></li>
                                            <li><a href="booking.ejs">booking Page</a></li>
                                            <li><a href="faq.html">Faq Page</a></li>
                                            <li><a href="404.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                                <div class="search-bar">
                                    <a href="#0"><i class="flaticon-search-interface-symbol"></i></a>
                                </div>                    
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>