<div class="header-login-form">
    <div class="header-register-form-area">
        <div class="account-section">
            <div class="container">
                <div class="account-wrapper">
                    <div class="login-area account-area change-form">
                        <div class="row m-0">
                            <div class="col-lg-6 p-0">
                                <div class="common-form-style bg-one create-account">
                                    <div class="stop d-lg-none"><i class="fas fa-times"></i></div>
                                    <h4 class="title">Login to Your Account</h4>
                                    <p>Enter email and password </p>
                                    <% if(loginError) {%>
                                        <div class="alert alert-danger" role="alert" style="z-index: 999;">
                                            <%=loginError%>
                                        </div>
                                    <% } %>
                                    <form class="create-account-form" method="POST" action="/customer/login">
                                        <div class="form-group">
                                            <input type="email" placeholder="Email" name="email" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" id="myInput" placeholder="Password" name="password" required>
                                            <a href="#0" id="show-pass-one" class="show-pass"><i class="fas fa-eye"></i></a>
                                        </div>
                                        <ul class="lost-pass">
                                            <li>
                                                <a href="#0">Forget Password?</a>
                                            </li>
                                            <li>
                                                <div class="form-group form-group--style">
                                                    <input type="submit" value="Login">
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                    <div class="terms-area text-center mt-30">
                                        <p class="terms-and-conditions"><a href="#0">Tream & Condition & Privacy?</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 p-0">
                                <div class="change-catagory-area bg_img">
                                    <div class="stop"><i class="fas fa-times"></i></div>
                                    <div class="register-thumb">
                                        <img src="assets/images/register.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>