<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>B Airways</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/dists/css/adminlte.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
        <!-- main style css link -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive css link -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

</head>

<body style="padding-top: 70px;">
    <div class="content">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light shadow-lg bg-light border-bottom fixed-top">
                <% if(user) {%>
                    <a class="navbar-brand" href="/staff/<%=user.staff_category%>"><strong><h4>B Airways</h4></strong></a>
                <%}else{%>
                    <a class="navbar-brand" href=""><strong><h4>B Airways</h4></strong></a>
                <%}%>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <% if(user) { %>
                        <li class="nav-item dropdown">
                                <li class="nav-item">
                                    <a href="/staff/<%=user.staff_category%>" class="nav-link"><b>Home</b></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/staff/logout" class="nav-link"><b>Log Out</b></a>
                                </li>
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <!-- <img src="/assets/usericon.png" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="user-icon"> -->
                                    Img
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/staff/<%=user.staff_category%>" ><i class="fas fa-home" style="margin-right: 6px;"></i><b>HOME</b></a>
                                    <a class="dropdown-item" href="/staff/edit_profile"><i class="fas fa-edit" style="color: grey;margin-right: 6px;"></i>Edit profile </a>
                                    <a class="dropdown-item" href="/staff/edit_profile#changePassword"><i class="fas fa-lock" style="color: grey;margin-right: 6px;"></i>Change Password</a>
                                    <a class="dropdown-item" href="/staff/edit_profile#delAccount"><i class="fas fa-trash-alt" style="color: grey;margin-right: 6px;"></i>Delete Account</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/staff/logout"><i class="fas fa-sign-out-alt" style="color: grey;margin-right: 6px;"></i> Log out</a>
                                </div>
                        </li>
                    <% }else{ %>
                        <li class="nav-item dropdown">
                            <li class="nav-item">
                                <a href="/staff/login" class="nav-link"><b>Log In</b></a>
                            </li>
                        </li>
                    <%}%>
                    
                </ul>
                </div>
            </nav>
        </div>
        <div>
<main>
          