</main>
</div>
</div>
<!-- jQuery -->
<script src="/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="/assets/plugins/select2/js/select2.full.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/dists/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dists/js/demo.js"></script>
<script>
    $(function () {
      $('.select2').select2()
    });
</script>

       
</body>
    
</html>