<!-- header-section start -->
<%- include('_header',{user}) %>
<!-- header-section end -->
<!-- register-section start -->
<%- include('_signup',{user,registrationError}) %>
<!-- register-section end -->
<!-- login-section start -->
<%- include('_login',{user}) %>
<!-- login-section end -->


    <form class="header-form">
        <div class="skip"><i class="fas fa-times"></i></div>
        <div class="header-form-area">
            <input type="text" placeholder="Search Here">
            <button type="submit"><i class="flaticon-search-interface-symbol"></i></button>
        </div>
    </form>


    <!-- banner-section start -->
    <section class="inner-banner-section pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="inner-banner-content">
                        <h2 class="title">About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>


    <!-- service-section start -->
    <section class="service-section pt-120">
        <div class="container">
            <div class="row justify-content-center mb-60-none">
                <div class="col-lg-4 col-md-6 col-sm-8 text-center mb-60">
                    <div class="service-item service-item--style mt-30">
                        <div class="service-icon">
                            <i class="flaticon-startup"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="title"><a href="#0">fast & easy booking</a></h3>
                            <p>Mauris pede dui in eunam nlnulla odio ut sitac Lacus eleifend frinlla scelerisque vitaeorci</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 text-center mb-60">
                    <div class="service-item service-item--style mt-30">
                        <div class="service-icon">
                            <i class="flaticon-internet"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="title"><a href="#0">any time any where</a></h3>
                            <p>Mauris pede dui in eunam nlnulla odio ut sitac Lacus eleifend frinlla scelerisque vitaeorci</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 text-center mb-60">
                    <div class="service-item service-item--style mt-30">
                        <div class="service-icon">
                            <i class="flaticon-audio-headset-of-auriculars-with-microphone-included"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="title"><a href="#0">24/7 support</a></h3>
                            <p>Mauris pede dui in eunam nlnulla odio ut sitac Lacus eleifend frinlla scelerisque vitaeorci</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->
<br><br><br>

    <!-- offer-section start -->
    <section class="offer-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pl-0 pr-0">
                    <div class="offer-thunb">
                        <img src="/assets/images/about_image.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- offer-section end -->


    <!-- choose-us-section start -->
    <section class="choose-us-section choose-us-section--style pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-header">
                        <h2 class="section-title">why we are best booking agency for air ticket</h2>
                        <span class="title-border title-border-center"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-30-none">
                <div class="col-lg-6 mb-30">
                    <div class="choose-us-content choose-us-content--style">
                        <div class="faq-left-content">
                            <div class="faq-wrapper">
                                <div class="faq-item active open">
                                    <h3 class="faq-title"><span class="title">fast service</span><span class="right-icon"></span></h3>
                                    <div class="faq-content">
                                        <p>Platea tincidunt praesent mauris, facilisis vel sed ornare nulltcies proin luctus velilibero. At ligula amet, sit velit est morbi, sit eros tempus mus sit at ut tortor ut. Morbi nulla antmauris</p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h3 class="faq-title"><span class="title">why need online booking</span><span class="right-icon"></span></h3>
                                    <div class="faq-content">
                                        <p>Platea tincidunt praesent mauris, facilisis vel sed ornare nulltcies proin luctus velilibero. At ligula amet, sit velit est morbi, sit eros tempus mus sit at ut tortor ut. Morbi nulla antmauris</p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h3 class="faq-title"><span class="title">24 hours customer support</span><span class="right-icon"></span></h3>
                                    <div class="faq-content">
                                        <p>Platea tincidunt praesent mauris, facilisis vel sed ornare nulltcies proin luctus velilibero. At ligula amet, sit velit est morbi, sit eros tempus mus sit at ut tortor ut. Morbi nulla antmauris</p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h3 class="faq-title"><span class="title">iso certificate</span><span class="right-icon"></span></h3>
                                    <div class="faq-content">
                                        <p>Platea tincidunt praesent mauris, facilisis vel sed ornare nulltcies proin luctus velilibero. At ligula amet, sit velit est morbi, sit eros tempus mus sit at ut tortor ut. Morbi nulla antmauris</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-30">
                    <img src="/assets/images/b_airways_logo_big.png" alt="site-logo">
                </div>
            </div>
        </div>
    </section>
    <!-- choose-us-section end -->
<br><br><br><br>

<%- include('_footer',{user}) %>