<!-- header-section start -->
<%- include('_header',{user}) %>
<!-- header-section end -->
<!-- register-section start -->
<%- include('_signup',{user,registrationError}) %>
<!-- register-section end -->
<!-- login-section start -->
<%- include('_login',{user}) %>
<!-- login-section end -->


    <form class="header-form">
        <div class="skip"><i class="fas fa-times"></i></div>
        <div class="header-form-area">
            <input type="text" placeholder="Search Here">
            <button type="submit"><i class="flaticon-search-interface-symbol"></i></button>
        </div>
    </form>


    <!-- banner-section start -->
    <section class="inner-banner-section pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="inner-banner-content">
                        <h2 class="title">get in touch</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>


    <!-- contact-section start -->
    <div class="contact-section">
        <div class="contact-element">
            <img src="assets/images/contact.png" alt="image">
        </div>
        <div class="contact-element--style">
            <img src="assets/images/contact-2.png" alt="image">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-form-area">
                        <span class="caption">send us a Messages</span>
                        <form  class="contact-form" id="contact_form_submit">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <input type="text" id="name" name="text" placeholder="full name ">
                                </div>
                                <div class="col-sm-12 form-group">
                                    <input type="text" id="email" name="email" placeholder="email">
                                </div>
                                <div class="col-sm-12 form-group">
                                    <textarea placeholder="message" id="message"></textarea>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <input type="submit" class="cmn-btn" value="submit Now ">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact-section end -->


    <!-- contact-info-section start -->
    <section class="contact-info-section pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-header">
                        <h2 class="section-title">office contact info</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-lg-4 col-md-6 col-sm-8 text-center mb-30">
                    <div class="contact-info-item">
                        <i class="flaticon-pin"></i>
                        <h3 class="title">office address</h3>
                        <ul class="contact-info-content">
                            <li>USA, Callifornia Fivenuen, Callifor</li>
                            <li>twon haing kupabus</li>
                            <li>PO: 2457-256</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 text-center mb-30">
                    <div class="contact-info-item">
                        <i class="flaticon-mail"></i>
                        <h3 class="title">phone number</h3>
                        <ul class="contact-info-content">
                            <li>0123-456-789000021</li>
                            <li>0123-456-7890000</li>
                            <li>0123-456-78900</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 text-center mb-30">
                    <div class="contact-info-item">
                        <i class="flaticon-internet"></i>
                        <h3 class="title">email address</h3>
                        <ul class="contact-info-content">
                            <li>softkingsupport@.com</li>
                            <li>www.demo145.com</li>
                            <li>example.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-info-section end -->


    <!-- brand-section start -->
    <div class="brand-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="assets/images/brand-1.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="assets/images/brand-2.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="assets/images/brand-3.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="assets/images/brand-4.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="assets/images/brand-5.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="assets/images/brand-6.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-section end -->



<%- include('_footer',{user}) %>