           
            <form action="/staff/general/displayFilteredIncoming" method="GET">
                <div class="row">
                    <div class="col-md-10 ">
                        <div class="row">
                            <div class="col-10">
                                <div class="form-group col-10">
                                    <label for="origin">Select Origin:</label>
                                    <select class="select2" multiple="multiple"  style="width: 100%;" name="origin">
                                        <!-- <option value='' >--Select FROM Airport--</option> -->
                                        
                                        <% if(airports && airports.length!=0) {%>
                                            <% airports.forEach(function(airport){%>
                                                <option value=<%=airport.airport_code %> ><%= airport.name %>
                                                </option>
                                                <%});%>
                                                    <%}%>
                                    </select>      
                                </div>
                                <div class="col-2">
                                    <!-- <button type="submit" value="Submit " name="origin_airports" class="btn btn-info btn-sm">Search</button> -->
                                    <input type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                        


                        <!--test modal
                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Flight 2 Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            <th scope="col">Booking ID</th>
                                            <th scope="col">Customer ID</th>
                                            <th scope="col">Customer Name</th>
                                            <th scope="col">No.of seats</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (var i = 0; i <25; i++) { %>
                                            
                                            <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>
                        test modal end-->




<!-- <form action="enhanced-results.html">
    <div class="row">
        <div class="col-md-10 offset-md-10">
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form> -->


<!-- <div class="dropdown">
    
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1-1"
      data-toggle="dropdown">Bootstrap
      search</button>
  
    
    <div class="dropdown-menu dropdown-primary" id="your-custom-id">
    
      <input class="form-control" class="select2" type="text" placeholder="Search" aria-label="Search">
      <a class="dropdown-item mdb-dropdownLink-1" href="#">MDB</a>
      <a class="dropdown-item mdb-dropdownLink-1" href="https://mdbootstrap.com/docs/react/">MDB react</a>
      <a class="dropdown-item mdb-dropdownLink-1" href="https://mdbootstrap.com/docs/angular/">MDB angular</a>
      <a class="dropdown-item mdb-dropdownLink-1" href="https://mdbootstrap.com/docs/vue/">MDB vue</a>
      <a class="dropdown-item mdb-dropdownLink-1" href="https://brandflow.net/">BrandFlow</a>
      <a class="dropdown-item mdb-dropdownLink-1" href="https://mdbootstrap.com/education/bootstrap/">MDB
        Rocks</a>

    </div>
  </div> -->



    <!-- <div class="rt-input-group rt-input-group--style">
        <div class="single-input  col-rt-in-3">
            <select name="from" id="dropdown" class="select-bar">
                <option value='' selected>--Select FROM Airport--</option>
                
                        <option value=''> >dhhgfh
                        </option>
                        
            </select>
        </div>
    </div> -->
         