<%- include('_staff_header_new',{user}) %>
<div class="hold-transition sidebar-mini">
    <div class="container">

        <h3>Welcome -Name-</h3>

        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Ongoing flights</h3>
            </div>
            
            <div class="card-body">
                <!--ongoing flights start-->
                <div class="col-lg-12 mb-30">
                    <div class="flight-search-box">
                        <div class="row"><!--row start-->
                            <div class="col-lg-4 mb-30"><!--new 1st div-->
                                <div class="flight-search-item d-flex flex-wrap">
                                    <div class="flight-search-thumb">
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                        
                                    </div>
                                    <div class="flight-search-title">
                                        <h5 class="title">Flight-id1</h5>
                                        <h5><span class="badge badge-info ">Pending</span></h5>
                                    </div>
                                </div>
                                <div class="flight-search-body">
                                    <h5 class="flight-start">14:00</h5>
                                    <h5 class="flight-middle">07h00</h5>
                                    <h5 class="flight-end"> 17:10</h5>
                                </div>
                                <div class="flight-place">
                                    <p><span class="start-place">Departed at</span></p>
                                </div>
                            </div><!--new 1st div end-->
                            <div class="col-lg-8 mb-30"><!--new 2nd div-->
                                <br/><h6>From: Dhaka </h6>
                                <h6>To: Delhi Airport </h6>
                                <h6>Aircraft:  </h6>
                                <a href='#' class="btn btn-success float-right">Mark Arrival</a>

                            </div><!--new 2nd div-->
                    </div><!--raw end-->
                    </div>
                </div>
                <!--ongoing flights end-->
               <!--ongoing flights start-->
                <div class="col-lg-12 mb-30">
                    <div class="flight-search-box">
                        <div class="row"><!--row start-->
                            <div class="col-lg-4 mb-30"><!--new 1st div-->
                                <div class="flight-search-item d-flex flex-wrap">
                                    <div class="flight-search-thumb">
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                        
                                    </div>
                                    <div class="flight-search-title">
                                        <h5 class="title">Flight-id1</h5>
                                        <h5><span class="badge badge-danger ">Delayed</span></h5>
                                    </div>
                                </div>
                                <div class="flight-search-body">
                                    <h5 class="flight-start">14:00</h5>
                                    <h5 class="flight-middle">07h00</h5>
                                    <h5 class="flight-end"> 17:10</h5>
                                </div>
                                <div class="flight-place">
                                    <p><span class="start-place">Departed at</span></p>
                                    
                                </div>
                            </div><!--new 1st div end-->
                            <div class="col-lg-8 mb-30"><!--new 2nd div-->
                                <br/><h6>From: Dhaka </h6>
                                <h6>To: Delhi Airport </h6>
                                <h6>Aircraft:  </h6>
                                <a href='#' class="btn btn-success float-right">Mark Arrival</a>
                            </div><!--new 2nd div-->
                    </div><!--raw end-->
                    </div>
                </div>
                <!--ongoing flights end-->
            </div>
        </div>


        <hr>
        <!-- cards starting-->
        <div class="row">
            <!-- ./col -->
            <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-primary">
                <div class="inner">
                <h3 class="text-light">53</h3>

                <h6 class="text-light">Upcoming Flights</h6>
                </div>
                <div class="icon">
                <i class="fas fa-plane-departure"></i>
                </div>
                <a href="/staff/general/upcomingFlights" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box text-white bg-green">
                <div class="inner">
                <h3 class="text-light">44</h3>

                <h6 class="text-light">Arrived Flights</h6>
                </div>
                <div class="icon">
                <i class="fas fa-plane-arrival"></i>
                </div>
                <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-secondary">
                <div class="inner">
                <h3 class="text-light">2</h3>

                <h6 class="text-light">Something</h6>
                </div>
                <div class="icon">
                <i class="fa fa-file" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- cards ending-->












            <!--search form
            <form action="enhanced-results.html">
                <div class="row">
                    <div class="col-md-8 offset-md-1">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label>Search:</label>
                                    <div class="input-group input-group-sm">
                                        <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here" >
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-lg btn-default">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>-->


           
        


          

    </div><!--container div closed-->
</div>
<%- include('staff_footer_new') %>