 <!--test starting-->
 <main class="col-lg-2">
    <div class="list-group pt-10">
        <a href="#datacollect" class="list-group-item list-group-item-action active">DataCollect</a>
        <a href="#cookies" class="list-group-item list-group-item-action">Cookies</a>
        <a href="#security" class="list-group-item list-group-item-action">Security</a>
        <a href="#otherwebsites" class="list-group-item list-group-item-action">Third Party Websites</a>
        <a href="#propertyrights" class="list-group-item list-group-item-action">Intellectual Property Rights</a>
        <a href="#websitebooking" class="list-group-item list-group-item-action">Website Booking</a>
        
    </div>
</main>
<!--test ending-->