<!-- header-section start -->
<%- include('_header',{user}) %>
<!-- header-section end -->
<!-- register-section start -->
<%- include('_signup',{user,registrationError}) %>
<!-- register-section end -->
<!-- login-section start -->
<%- include('_login',{user}) %>
<!-- login-section end -->

    <form class="header-form">
        <div class="skip"><i class="fas fa-times"></i></div>
        <div class="header-form-area">
            <input type="text" placeholder="Search Here">
            <button type="submit"><i class="flaticon-search-interface-symbol"></i></button>
        </div>
    </form>


    <!-- banner-section start -->
    <section class="inner-banner-section pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="inner-banner-content">
                        <h2 class="title">Terms & Conditions</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>


    <!-- privacy-details-section start  -->
    <div class="privacy-details-section pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <main class="col-lg-12">
                    <div class="privacy-details-wrapper">
                        <div class="details-area">
                            <div class="single-row">
                                <div class="left">
                                    <span class="row-title">data collect</span>
                                </div>
                                <div class="right">
                                    <p>Mauris suscipit vitae in feugiat eu, scelerisque a, donec ipsum dolor eget. Condimenttdonec felis nibh scelerisque, nec nostra, sit eu vulputate purus. Lacus nullam tellus viverra curatur vitae tortor tortor dolor amet nullam, cum diam sed, orci odio, nulla condintum magnis non felis nec amet. Tellus pulvinar nunc non volutpat duis lorem, sed donec cras et arcu diam nisl, cras vivamus, velit fugit, nec neque. Nonummy sed nulla, in aennsequat praesent luctus lacus, tincidunt nulla fusce</p>
                                    <ul class="top">
                                        <li>There are many variations of passages of Lorem available, but the majority</li>
                                        <li>Finibus onorum et alorum"  by icero classical lite rature, discovered</li>
                                        <li>Various versions have evolved over the years so mes by accident, sometimes on purpose </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-row">
                                <div class="left">
                                    <span class="row-title">how we use cookies</span>
                                </div>
                                <div class="right">
                                    <p>Lectus aliquet, duis vivamus, vulputate eros sit platea, at augue gravida, maecenas pede  Sit tellus, odio per wisi ac nam massa pede, fringilla pellentesque vitae faucibus at, elementum vel scelerisque cursus risus quam. Taciti integer nulla eget odio sit. </p>
                                    <ul class="top">
                                        <li>Masters in Accounting/Finance from any reputed University.</li>
                                        <li>Educational Qualification For Experienced Applicant is relaxable.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-row">
                                <div class="left">
                                    <span class="row-title">security</span>
                                </div>
                                <div class="right">
                                    <p>Suscipit vitae eu, urna scelerisque porta arcu porttitor, magna phasellus ipsum donec lectus vitae et, eu vel, vivamus quisque sit scelerisque. Id occaecati, tincidunt integer eget ut pretra leo tiunt, adipiscing sed tristique sed mauris justo, hac pellentesque, lacus mauris at  vel vel suspendisse. Ornare nulla eu elit volutpat turpis ultricies, pellentesque justo id in n odio ut, ac ridiculus massa tellus sed, vitae vel donec duis massa consectetuer, non justo. Phllus vitae, vitae sapien amet inventore enim nam.</p>
                                </div>
                            </div>
                            <div class="single-row">
                                <div class="left">
                                    <span class="row-title">link to other web site</span>
                                </div>
                                <div class="right">
                                    <p>Condimentum etiam donec felis nibh scelerisque, nec nostra, sit eu vulputate purus. Lacunullam tellus viverra curabitur, vitae tortor tortor dolor amet nullam, cum diam sed, orci odio, nulla imtum magnis non felis nec amet. Tellus pulvinar nunc non volutpat duis lorem, sed donec cras et arcu diam nisl <a href="https://www.srilankan.com/en_uk/lk">www.srilankan.com</a> cras vivamus, velit fugit, nec neque. Nonummy sed nulla, in aenean consequat praesent luctus lacus, tincidunt nulla fusce, mauris non congue, lorem feugiat sed sit. Magnis congue, </p>
                                </div>
                            </div>
                            <div class="single-row">
                                <div class="left">
                                    <span class="row-title">registration</span>
                                </div>
                                <div class="right">
                                    <p>Tincidunt ullamcorper tristique ornare. Sodales luctus cras. Suscipit vitae eu, urna scelporta arcu porttitor, magna phasellus ipsum donec lectus vitae et, eu vel, vivamus quisque sisque. Id occaecati, tincidunt integer eget ut pharetra leo tincidunt, adipiscing sed tristique sed mauris justo, hac pellentesque, lacus mauris at ac vel vel suspendisse. Ornare nulla eu elit volutpat turpis ultricies, pellentesque justo id in non odio ut, ac ridiculus massa tellus sed, vitae vel donec duis massa consectetuer, non justo. Phasellus vitae, vitae sapien </p>
                                    <ul class="top">
                                        <li>There are many variations of passages of Lorem available, but the majority</li>
                                        <li>Finibus onorum et alorum"  by icero classical lite rature, discovered</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <!-- privacy-details-section end  -->
    <br><br><br><br>

    <%- include('_footer',{user}) %>


