.general{
    color: white;
}
html{
    scroll-behavior: smooth;
}
    *::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5; }
    
    *::-webkit-scrollbar {
    width: 6px;
    background-color: #000; }

    *::-webkit-scrollbar-button {
    background-color: #000; }

    *::-webkit-scrollbar-thumb {
    background-color: #000000; }


.manager-card{
    transition: transform .3s;
}
.manager-card:hover{
    transform: scale(1.05);
}

.pass-count td, .pass-count th{
    border-color: black !important;
}