	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/11/2019 10:16
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-clock:before { content: "\f100"; }
.flaticon-pin:before { content: "\f101"; }
.flaticon-mail:before { content: "\f102"; }
.flaticon-search-interface-symbol:before { content: "\f103"; }
.flaticon-startup:before { content: "\f104"; }
.flaticon-internet:before { content: "\f105"; }
.flaticon-audio-headset-of-auriculars-with-microphone-included:before { content: "\f106"; }
.flaticon-exchange:before { content: "\f107"; }
.flaticon-calendar:before { content: "\f108"; }
.flaticon-plane:before { content: "\f109"; }
.flaticon-coffee:before { content: "\f10a"; }
.flaticon-play-button:before { content: "\f10b"; }